{
	email {$CADDY_ACME_EMAIL}
}

{$LUTECIUM_DOMAIN} {
	handle /api/* {
		reverse_proxy lutecium-api:8000
	}
	handle {
		root * /srv/site
		file_server
	}
	encode gzip

	header {
		Strict-Transport-Security "max-age=31536000;"
		X-Content-Type-Options "nosniff"
	}
}
